extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Aaron Patheal

        
        p Software Engineer 


        .about-bio

          
          p I am currently a software engineer that is seeking a position within Travelers Insurance Technology. What's better than a technically skilled software developer? A technically skilled software developer with an extensive background in the insurance industry and vast knowledge of the inner workings of an insurance company. Now I know what you are thinking. This is just too good to be true, but I can assure you that it isn't. My business accumen even rivals my amazing software development skills. The best software engineer is always the one that truly understands who their customer is and the purpose of their design. Tell you what, if you hire me I'll even pinch you to prove that you aren't dreaming. Just let me know when you would like me to start!


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Asynchronous Programming 
          li Excellent Communications Skills
          li Team Leadership experience
          

        h6 Contact Info

        
        ul
          li 555-867-5309
          li Living_Legend@email.com

       
        a.btn-link(href='https://www.linkedin.com/') LinkedIn
        a.btn-link(href='https://github.com/') GitHub
        a.btn-link(href='https://twitter.com/?lang=en') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back