extends layout.pug

block content

  article.portfolio-intro

    
    h1 Not Your Average Software Engineer

    
    p This portfolio displays my current list of completed projects and will continue to grow as I move forward. As you review my projects you will have a chance to witness different programming skills in action. In fact, this portfolio was created as an opportunity to showcase my skills using Static Node.js and Express. Enjoy!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in data.projects  
      
       

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.images_urls[0]}`, alt='')
            h5 #{project.project_name}

